h1 {
    font-size: 2.2rem;
    margin-top: 80px;
    text-align: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    text-align: center;
    width: 100%;
}

.bg {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0;
    transition: all 0.5s ease-in;
    pointer-events: none;
    width: 100vw;
    height: 200%;
    overflow: hidden;
}

.product {
    flex: auto;
    font-size: 1.5rem;
    margin: 0 1vw calc(1vw + 50px) 1vw;
    min-width: calc(33% - 2vw);
    position: relative;
    animation: entry 1s linear 1;
}

.product:hover+.bg {
    opacity: 1;
    background: -moz-linear-gradient(-45deg, #632c65 15%, #56a5e2 100%);
    background: -webkit-linear-gradient(-45deg, #632c65 15%, #56a5e2 100%);
    background: linear-gradient(135deg, #632c65 15%, #56a5e2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#632c65', endColorstr='#56a5e2', GradientType=1);
}

.product:before {
    content: "";
    float: left;
    padding-top: 100%;
}

.content {
    background: white;
    border-radius: 100%;
    height: 84%;
    margin: 8%;
    position: absolute;
    width: 84%;
    vertical-align: middle;
    z-index: 5000;
    transition: .5s all ease;
    transform: rotateX(40deg) scale(0.9);
}

.product:hover .content {
    transform: rotateX(0deg) scale(1);
}

.product:hover .effect-1,
.product:hover .effect-2 {
    display: block;
}

.effect-1,
.effect-2 {
    border-radius: 100%;
    display: none;
    // mix-blend-mode: multiply;
    height: 84%;
    opacity: 1;
    position: absolute;
    width: 84%;
    z-index: 3000;
}

.effect-1 {
    animation: rotate 1.8s linear infinite;
    background: cyan;
}

.effect-2 {
    animation: rotate 1.2s linear reverse infinite;
    background: #e7a9ff;
}

@keyframes rotate {
    0% {
        top: 0;
        left: 8%;
    }

    25% {
        top: 8%;
        left: 0%;
    }

    50% {
        top: 16%;
        left: 8%;
    }

    75% {
        top: 8%;
        left: 16%;
    }

    100% {
        top: 0;
        left: 8%;
    }
}

@keyframes entry {
    0% {
      top: -20%;
      opacity: 0.1;
    }
    100% {
      top: 0%;
    }
  }

.title {
    position: relative;
    top: calc(100% + 16px);
}

.sleep {
    background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
    border-radius: 50%;
    height: 50%;
    margin: 25%;
    width: 50%;
}
