.bg {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0;
  transition: all 0.5s ease-in;
  pointer-events: none;
  width: 100vw;
  height: 200%;
  overflow: hidden;
}

.product {
  flex: auto;
  font-size: 1.5rem;
  margin: 0 1vw calc(1vw + 50px) 1vw;
  min-width: 200px;
  max-width: 500px;
  position: relative;
  animation: entry 1s linear 1;
}

.product:hover+.bg {
  opacity: 1;
  background: -moz-linear-gradient(-45deg, #632c65 15%, #56a5e2 100%);
  background: -webkit-linear-gradient(-45deg, #632c65 15%, #56a5e2 100%);
  background: linear-gradient(135deg, #632c65 15%, #56a5e2 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#632c65', endColorstr='#56a5e2', GradientType=1);
}

.product:before {
  content: "";
  float: left;
  padding-top: 100%;
}

.content {
  background: white;
  border-radius: 100%;
  height: 84%;
  margin: 8%;
  position: absolute;
  width: 84%;
  vertical-align: middle;
  z-index: 5000;
  transition: .5s all ease;
  transform: rotateX(0deg) scale(0.8);
}

.product:hover .content {
  transform: rotateX(0deg) scale(1);
}

.product:hover .effect-1,
.product:hover .effect-2 {
  display: block;
}

.effect-1,
.effect-2 {
  border-radius: 100%;
  display: none;
  mix-blend-mode: overlay;
  height: 84%;
  opacity: 1;
  position: absolute;
  width: 84%;
  z-index: 3000;
}

.effect-1 {
  animation: rotate 1.8s linear infinite;
  background: #2b0091;
}

.effect-2 {
  animation: rotate 1.2s linear reverse infinite;
  background: #ff00a4;
}

@keyframes rotate {
  0% {
    top: 0;
    left: 8%;
  }

  25% {
    top: 8%;
    left: 0%;
  }

  50% {
    top: 16%;
    left: 8%;
  }

  75% {
    top: 8%;
    left: 16%;
  }

  100% {
    top: 0;
    left: 8%;
  }
}

@keyframes entry {
  0% {
    top: -20%;
    opacity: 0.1;
  }

  100% {
    top: 0%;
  }
}

.title {
  position: relative;
  top: calc(100% + 16px);
}

.sleep {
  background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
  border-radius: 50%;
  height: 50%;
  margin: 25%;
  width: 50%;
}



$cyan: #2b0091;
$dark: #FFFFFF;
$borderW: 2px;

.blob-btn {
  $numOfBlobs: 4;
  z-index: 1;
  position: relative;
  padding: 20px 46px;
  margin-bottom: 30px;
  text-align: center;
  text-transform: uppercase;
  color: $cyan;
  font-size: 16px;
  font-weight: bold;
  background-color: transparent;
  outline: none;
  border: none;
  transition: color 0.5s;
  cursor: pointer;
  border-radius: 30px;

  &:before {
    content: "";
    z-index: 1;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: $borderW solid $cyan;
    border-radius: 30px;
  }

  &:after {
    content: "";
    z-index: -2;
    position: absolute;
    left: $borderW*1.5;
    top: $borderW*1.5;
    width: 100%;
    height: 100%;

    transition: all 0.3s 0.2s;
    border-radius: 30px;
  }

  &:hover {
    color: $dark;
    border-radius: 30px;

    &:after {
      transition: all 0.3s;
      left: 0;
      top: 0;
      border-radius: 30px;
    }
  }

  &__inner {
    z-index: -1;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    background: #ffffff;
  }

  // additional container created, because in FF blobs are breaking overflow:hidden of element with svg gooey filter
  &__blobs {
    position: relative;
    display: block;
    height: 100%;
    filter: url('#goo');
  }

  &__blob {
    position: absolute;
    top: $borderW;
    width: calc(100% / $numOfBlobs);
    height: 100%;
    background: $cyan;
    border-radius: 100%;
    transform: translate3d(0, 150%, 0) scale(1.7);
    transition: transform 0.45s;

    @supports(filter: url('#goo')) {
      transform: translate3d(0, 150%, 0) scale(1.4);
    }

    @for $i from 1 through $numOfBlobs {
      &:nth-child(#{$i}) {
        left: ($i - 1) * calc(120% / $numOfBlobs);
        transition-delay: ($i - 1) * 0.08s;
      }
    }

    .blob-btn:hover & {
      transform: translateZ(0) scale(1.7);

      @supports(filter: url('#goo')) {
        transform: translateZ(0) scale(1.4);
      }
    }
  }

}

.blob-btn:hover {
  box-shadow: 0 0 100px -20px $dark;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.active-category {
  z-index: 1;
  position: relative;
  padding: 20px 46px;
  margin-bottom: 30px;
  text-align: center;
  text-transform: uppercase;
  color: $dark;
  background-color: $cyan;
  font-size: 16px;
  font-weight: bold;
  background-color: transparent;
  outline: none;
  border: none;
  transition: color 0.5s;
  cursor: pointer;
  border-radius: 30px;
}

.active-category .blob-btn__inner {
  background: $cyan;
}